.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--Light2);
    font-size: 20px;
    font-weight: bold;
}

.input, .textarea {
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 50%;
    border: 2px solid var(--Secondary);
    border-radius: 5px;
    color: var(--Secondary);
    font-size: 20px;
    font-weight: bold;
}

.textarea {
    max-height: 200px;
    min-height: 200px;
    max-width: 50%;
    min-width: 50%;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.button {
    padding: 15px 30px;
    background-color: var(--Secondary);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}